<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.julyyu.arsenal"
    >
    <!--使用蓝牙所需要的权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--使用扫描和设置蓝牙的权限（申明这一个权限必须申明上面一个权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--6.0以上蓝牙搜索功能需要提供位置定位权限否则无法正常使用-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--Android5.0之前，是默认申请GPS硬件功能的。而在Android 5.0 之后，需要在manifest 中申明GPS硬件模块功能的使用。-->
    <uses-feature android:name="android.hardware.location.gps" />
    <!--使用相机、闪关灯-->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--为连接AIDL的服务自定义出一个新的权限-->
    <permission
        android:name="com.julyyu.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <!--添加上面自定义的权限-->
    <uses-permission android:name="com.julyyu.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.julyyu.arsenal.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.IndexActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.julyyu.arsenal.ui.activity.DefaultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <!--活动启动模式-->
        <activity
            android:name=".exercise.launchModeExercise.StandardActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            />
        <activity
            android:name=".exercise.launchModeExercise.SingleTopActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".exercise.launchModeExercise.SingleTaskActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".exercise.launchModeExercise.SingleInstanceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            />
        <!--通知-->
        <activity
            android:name=".exercise.notificationExercise.NotificationInfoActivity"
            android:screenOrientation="portrait"
            />
        <!--AIDL-->
        <activity
            android:name=".exercise.ipcExercise.MessengerClientActivity"
            android:screenOrientation="portrait"
            />
        <service
            android:name=".exercise.ipcExercise.MessengerService"
            android:process=":messenger"
            />
        <activity
            android:name=".aidl.AIDLActivity"
            android:screenOrientation="portrait"
            />
        <service
            android:name=".aidl.AIDLService"
            android:process=":aidl"
            >

        </service>
        <activity
            android:name=".exercise.ipcExercise.SocketActivity"
            android:screenOrientation="portrait"
            />
        <service
            android:name=".exercise.ipcExercise.SocketService"
            android:process=":socket"
            >

        </service>
        <!--线程使用-->
        <activity
            android:name=".exercise.threadExercise.ThreadPoolExecutorActivity"
            android:screenOrientation="portrait"
            />

        <service
            android:name=".ToastService"
            android:process=":message"
            >
            <intent-filter>
                <action android:name="toast_service"></action>
            </intent-filter>
        </service>
    </application>

</manifest>
